      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example" data-slide-to="1"></li>
          <li data-target="#carousel-example" data-slide-to="2"></li>
          <li data-target="#carousel-example" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <a href="#"><img src="http://nanttylove.me/jobpage/images/BG2.png" /></a>
          </div>
          <div class="item">
            <a href="#"><img src="http://nanttylove.me/jobpage/images/BG3.png" /></a>
          </div>
          <div class="item">
            <a href="#"><img src="http://nanttylove.me/jobpage/images/BG4.png" /></a>
          </div>
           <div class="item">
            <a href="#"><img src="http://nanttylove.me/jobpage/images/BG5.png" /></a>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <!-- Begin page content -->
      <div class="row front-description">
        <div class="col-md-12">
          <h2 class="text-center">งานเพื่อคนพิการ</h2>
          <p class="text-left">"งานเพื่อคนพิการ" ให้บริการคนพิการค้นหางานและประกาศหางานพร้อมๆกับบริการให้นายจ้างและหน่วยงานรัฐประกาศหาคนพิการทำงาน โดยใช้ “ระบบออนไลน์” ประมวลและจัดระเบียบข้อมูลที่คนพิการ นายจ้าง และหน่วยงานรัฐกรอกข้อมูลในแบบฟอร์มบนเว็บไซต์ ระบบสารสนเทศเพื่อสนับสนุนการจัดหางานสำหรับผู้พิการนี้ สำหรับผู้พิการที่มีความบกพร่อง ที่สามารถทำงานได้ตามสถานประกอบการ ประกอบด้วย <span style="color: #2fa4e7;">บุคคลที่บกพร่องทางการมองเห็น บุคคลที่บกพร่องทางการได้ยิน  บุคคลที่มีความบกพร่องทางด้านร่างกายหรือสุขภาพ และบุคคลที่มีความบกพร่องทางการพูดและภาษา</span></p>
        </div>
      </div>

      <div class="row front-newslist">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h1>งานเด่น งานล่าสุด</h1>
            </div>
            <div class="col-md-12">
              <ul>
              <% @jobs.each do |job| %>
                <li><%= link_to job.position, job %> <span class="label label-default"><%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
              <% end %>
              </ul>
            </div>

            <div class="col-md-12">
              <h4>ข่าวสาร บทความ</h4>
            </div>
            <div class="col-md-12">
              <ul>
              <% @articles.each do |article| %>
                <li><%= link_to article.title, article %> <span class="label label-default"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
              <% end %>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">ลิงค์ที่เกี่ยวข้อง</div>
                <ul class="list-group">
                  <li class="list-group-item"><a href="http://www.mol.go.th/">กระทรวงแรงงาน</a></li>
                  <li class="list-group-item"><a href="http://www.labour.go.th/th/">กรมสวัสดิการและคุ้มครองแรงงาน</a></li>
                  <li class="list-group-item"><a href="http://www.doe.go.th/">กรมการจัดหางาน</a></li>
                  <li class="list-group-item"><a href="http://nep.go.th/">สำนักงานส่งเสริมและพัฒนาคุณภาพชีวิตผู้พิการแห่งชาติ (พก)</a></li>
                  <li class="list-group-item"><a href="http://www.tddf.or.th/">มูลนิธิผู้พิการไทย</a></li>
                  <li class="list-group-item"><a href="http://www.apht-th.org/">สมาคมผู้พิการแห่งประเทศไทย</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="clock text-center"></div>
              <script>
                function clock() {
                  var time = new Date(),
                  hours = time.getHours(),
                  minutes = time.getMinutes(),
                    seconds = time.getSeconds();
                  document.querySelectorAll('.clock')[0].innerHTML = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds);

                  function harold(standIn) {
                    if (standIn < 10) {
                      standIn = '0' + standIn
                    }
                    return standIn;
                  }
                }
                setInterval(clock, 1000);
              </script>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h4>จำนวนผู้เข้าชม</h4>
              <p class="count">1148</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row"> -->
      <!--  <div class="col-md-4"> -->
      <!--    <h1 class="text-center"><i class="fa fa-file-o fa-2x"></i></h1> -->
      <!--    <h4 class="text-center">ลงประกาศฟรี</h4> -->
      <!--    <p>ผู้ประกาศงานสามารถลงประกาศงานกับตลาดหางานคนพิการได้ฟรีตลอดการใช้งาน ซึ่งเป็นความต้องการสูงสุดของตลาดหางานคนพิการที่ผู้ประกาศงานได้คนพิการตามลักษณะงานและคนพิการได้งานที่ต้องการทำ</p> -->
      <!--  </div> -->
      <!--  <div class="col-md-4"> -->
      <!--    <h1 class="text-center"><i class="fa fa-files-o fa-2x"></i></h1> -->
      <!--    <h4 class="text-center">ลงประกาศไม่จำกัดจำนวนครั้ง</h4> -->
      <!--    <p>นอกจากการลงประกาศฟรีแล้ว ตลาดหางานคนพิการยังมอบสิทธิ์ในการลงประกาศงานได้อย่างไม่จำกัดจำนวนครั้ง เพื่อมอบโอกาสให้แก่ผู้ประกอบการที่ต้องการหาคนพิการไปทำงาน ไม่ให้ถูกจำกัดด้วยจำนวนครั้งในการประกาศ</p> -->
      <!--  </div> -->
      <!--  <div class="col-md-4"> -->
      <!--    <h1 class="text-center"><i class="fa fa-gear fa-2x"></i></h1> -->
      <!--    <h4 class="text-center">จัดการประกาศงานได้ตามใจ</h4> -->
      <!--    <p>ผู้ประกาศงาน ตลาดหางานคนพิการ สามารถจัดการประกาศงานด้วยตัวเองได้ตลอดเวลา เพื่อให้ได้คนพิการตรงกับความต้องการและความสะดวกสบายในการใช้งาน</p> -->
      <!--  </div> -->
      <!-- </div> -->
<!--       <div class="row front-promotion">
        <div class="col-md-4">
          <h1 class="text-center"><i class="fa fa-star fa-2x"></i></h1>
          <h4 class="text-center">จัดเก็บข้อมูลที่ถูกใจเข้าแฟ้ม</h4>
          <p>ระบบการจัดการของงานเพื่อคนพิการ สามารถเลือกจัดเก็บข้อมูลงานที่ถูกใจเข้าแฟ้มส่วนตัว เพื่อเป็นทางเลือกในการตัดสินใจและเปรียบเทียบสิ่งที่ดีที่สุดให้ตรงกับความต้องการมากที่สุด</p>
        </div>
        <div class="col-md-4">
          <h1 class="text-center"><i class="fa fa-css3 fa-2x"></i> <i class="fa fa-html5 fa-2x"></i></h1>
          <h4 class="text-center">รองรับการใช้งานทุกอุปกรณ์</h4>
          <p>งานเพื่อคนพิการคำนึงถึงความสำคัญในการเข้าถึงเว็บไซต์ในยุคดิจิตอล จึงได้พัฒนาให้สามารถรองรับการใช้งานทุกอุปกรณ์ ทั้งคอมพิวเตอร์ โทรศัพท์มือถือ และอุปกรณ์พกพาที่สามารถเข้าถึงเว็บไซต์ได้ รองรับทุกระบบปฎิบัติการ</p>
        </div>
        <div class="col-md-4">
          <h1 class="text-center"><i class="fa fa-ban fa-2x"></i></h1>
          <h4 class="text-center">ไม่มีโฆษณากวนใจ</h4>
          <p>งานเพื่อคนพิการไม่รับลงโฆษณาใดๆทั้งสิ้นให้เป็นที่รบกวนสายตาของผู้ใช้ ทำให้คุณสบายใจได้ว่าจะไม่มีข้อความโฆษณาเหมือนเว็บอื่นๆมารบกวนคุณเลย</p>
        </div>
      </div> -->