<p>สวัสดี <%= @resource.email %>!</p>

<p>บางคนได้ร้องขอลิ้งค์สำหรับเปลี่ยนรหัสผ่านสำหรับบัญชีผู้ใช้ของคุณ คุณสามารถเปลี่ยนรหัสผ่านได้โดยใช้ลิ้งค์ด้านล่าง</p>

<p><%= link_to 'เปลียนรหัสผ่าน', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>หากคุณไม่ได้ร้องขอการเปลี่ยนรหัสผ่าน โปรดเมินเฉยต่ออีเมล์ฉบับนี้</p>
<p>รหัสผ่านของคุณจะไม่เปลี่ยนแปลงจนกว่าคุณจะใช้งานลิ้งค์ด้านบนเพื่อสร้างรหัสผ่านใหม่</p>
