<p>สวัสดี <%= @resource.email %>!</p>

<p>บัญชีผู้ใช้ของคุณได้ถูกระงับการใช้งานชั่วคราว เนื่องจากมีการเข้าใช้ระบบไม่สำเร็จเป็นจำนวนมาก</p>

<p>กดที่ลิ้งค์ด้านล่างเพื่อทำการเปิดการใช้งานบัญชีผู้ใช้ของคุณอีกครั้ง</p>

<p><%= link_to 'เปิดใช้งานบัญชีผู้ใช้', unlock_url(@resource, unlock_token: @token) %></p>
